
<div style="width: 300px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="id">Wyszukiwarka</label>
      <input type="text" class="form-control" id="id" required [(ngModel)]="val" name="pesel">
    </div>
    <div class="form-group">
      <label for="department">Sex</label>
      <select id="department" name="department"
              [(ngModel)]= "choice" class="form-control">
        <option value="Pesel">Pesel dziecka</option>
        <option value="Name">Imię dziecka</option>
        <option value="Sourname">Nazwisko dziecka</option>
        <option value="Sex">Płeć dziecka</option>
        <option value="BirthDate">Data urodzin dziecka</option>
      </select>
    </div>

    <div class="btn-group">
      <button type="submit" class="btn btn-success">Submit</button>
    </div>
  </form>
</div>

<div class="row">
  <div class="col-md-8">
    <table class="table">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#ID</th>
        <th scope="col">FirstName</th>
        <th scope="col">SecondName</th>
        <th scope="col">Pesel</th>
        <th scope="col">Birth Date</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let element of families; let i = index" (click)="onSelect(i)">
        <th scope="col">{{element.father.id}}</th>
        <th scope="col">{{element.father.firstName}}</th>
        <th scope="col">{{element.father.secondName}}</th>
        <th scope="col">{{element.father.pesel}}</th>
        <th scope="col">{{element.father.birthDate}}</th>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="col-md-4">
    <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
      <div class="card-header">Rodzina ( Szczegóły ):</div>
      <div class="card-body">
        <h5 class="card-title">Szczegóły Ojca:</h5>
        <tr class="card-text">
          <p class="card-text" scope="col">Imię: {{families[k].father.firstName}}</p>
          <p class="card-text" scope="col">Nazwisko: {{families[k].father.secondName}}</p>
          <p class="card-text" scope="col">Pesel: {{families[k].father.pesel}}</p>
          <p class="card-text" scope="col">Data urodzin: {{families[k].father.birthDate}}</p>
          <ul>
          <li *ngFor="let child of families[k].childList" >
            <p > Imię: {{child.firstName}}</p>
            <p > Nazwisko: {{child.secondName}}</p>
            <p > Pesel: {{child.pesel}}</p>
            <p > Płeć: {{child.sex}}</p>
            <p > Data urodzin: {{child.birthDate}}</p>
          </li>
          </ul>
        </tr>
      </div>
      </div>
  </div>

</div>
