<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Inteca Recruitment</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="fatherlist" class="nav-link" routerLinkActive="active">ListFathers</a>
      </li>

      <li class="nav-item">
        <a routerLink="childlist" class="nav-link" routerLinkActive="active">ListChildren</a>
      </li>

      <li class="nav-item">
        <a routerLink="familylist" class="nav-link" routerLinkActive="active">ListFamily</a>
      </li>

      <li class="nav-item">
        <a routerLink="familychild" class="nav-link" routerLinkActive="active">ListFamilyChild</a>
      </li>

      <li class="nav-item">
        <a routerLink="createfamily" class="nav-link" routerLinkActive="active">CreateFamily</a>
      </li>

      <li class="nav-item">
        <a routerLink="searchFamily" class="nav-link" routerLinkActive="active">SearchFamily</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
